<div class="row mb-4">
  <div class="col">
    <h1 class="display-4">Nova Peça</h1>
    <p class="lead">Cadastre uma nova peça no sistema.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", part: @part %>
  </div>
</div>
