<div class="row mb-4">
  <div class="col">
    <h1 class="display-4">Nova Ordem de Serviço</h1>
    <p class="lead">Preencha os dados abaixo para criar uma nova ordem de serviço.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", service_order: @service_order %>
  </div>
</div>
