<div class="container mt-4">
  <h1><i class="fas fa-dollar-sign"></i> Relatório de Receita</h1>
  <%= link_to "Exportar Excel", revenue_reports_path(format: :xlsx, start_date: @start_date, end_date: @end_date), class: "btn btn-success mt-3" %>
  
  <div class="card mt-4">
    <div class="card-header bg-success text-white">
      <h5>Resumo Financeiro</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h6>Receita Total:</h6>
          <h3 class="text-success">R$ <%= number_with_precision(@stats[:total_revenue], precision: 2, delimiter: '.', separator: ',') %></h3>
        </div>
        <div class="col-md-4">
          <h6>Ticket Médio:</h6>
          <h3>R$ <%= number_with_precision(@stats[:average_order_value], precision: 2, delimiter: '.', separator: ',') %></h3>
        </div>
        <div class="col-md-4">
          <h6>Quantidade:</h6>
          <h3><%= @stats[:orders_count] %> ordens</h3>
        </div>
      </div>
    </div>
  </div>
</div>
